html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*https://www.w3schools.com/css/css_navbar_horizontal.asp*/
.navigation {
    position: fixed;
    z-index: 1;
    color: white;
    font-size: 150%;
    width: 100%;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 1% 0%;
    background-color: white;
}

.navigation li {
    display: inline;
    margin: 0%;
    padding: 1%;
}

/* https://www.w3schools.com/howto/howto_css_hero_image.asp */
.front-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Images/Image-1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}

.front-image-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

#button {
    background-color: white;
    padding: 1.5%;
}

.schedule {
    margin: 15% 5% 15% 10%;
    width: 25%;
    height: 30vh;
    float: left;
    font-size: 20px;
}

.schedule article {
    height: 200%;
}

#img-3 {
    width: 50%;
    height: 30vh%;
    margin: 5%;
    float: right;
}

.info {
    margin: 15% 10% 15% 5%;
    width: 25%;
    height: 30%;
    float: right;
    font-size: 20px;
}

#img-2 {
    width: 50%;
    height: 40%;
    margin: 5%;
    float: left;
}