html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    line-height: 22px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/* https://www.w3schools.com/howto/howto_css_hero_image.asp */
.front-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Images/Image-1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}

.wrap {
    width: 11600;
    margin: 0 auto;
    font-size: 50px;
}

.logo {
    width: 25%;
    float: left;
    line-height: 90px;
    margin-left: 35px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 15px;
}

nav {
    float: right;
    line-height: 85px;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 20px;
    color: #ffffff;
}

header {
    height: 100px;
    background: #6f7ea7;
    width: 100%;
    z-index: 12;
    position: fixed;
}

#h1text {
    color: #6f7ea7;
}

#h1schedule {
    color: #6f7ea7;
}

.front-image-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

#button {
    color: wheat;
    padding: 1.5%;
}

.schedule {
    margin: 20% 5% 15% 10%;
    width: 25%;
    height: 30vh;
    float: left;
    font-size: 20px;
    line-height: 35px;
}

#img-3 {
    width: 50%;
    height: 30%;
    margin: 10% 5% 5% 5%;
    float: right;
}

.info {
    margin: 10% 5% 19% 5%;
    width: 30%;
    float: right;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
.info h1{
    margin-bottom: 1px;
}

#img-2 {
    width: 50%;
    height: 40%;
    margin: 5%;
    float: left;
}

#title-our-staff {
    width: 40%;
    padding-left: 0.3%;
    color: #6f7ea7;
}

/* https://www.w3schools.com/howto/howto_css_team.asp */
.kolonne {
    float: left;
    width: 24%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .kolonne {
      width: 100%;
      display: block;
    }
  }
  
  .kortet {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .description {
    padding: 0 16px;
  }
  
  .description::after, .our-staff::after {
    content: "";
    clear: both;
    display: table;
  }

#main-footer{
    background-color:#6f7ea7;
    padding: 2%;
    margin-top: auto;
    text-align: center;
    color: #ffffff;
    margin-top: 5%;
}

ul{
    list-style: none; /*Fjerner bullet points*/
    margin-top: 2%;
}

footer li {
    margin-bottom: 1%;
}

.schedule1 {
    color: #6f7ea7;
}