html * {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font: normal 18px Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#title {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden; /*Strekker seg helt ut til kantene*/
    text-align: center;
    float: left;
}
.container h2{
    padding-top: 25px;
}

ul{
    list-style: none; /*Fjerner bullet points*/
}


#main-header{
    background-color: #82ffe0;
}

/*Hentet fra https://www.w3schools.com/css/css_image_gallery.asp*/
div.gallery {
    margin: 5px;
    padding-right: 10px;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    border: 5px solid #ccc;
}

div.desc {
    padding: 15px;
    text-align: center;
}
/*Scaler veldig rart*/



#scedule h2{
    padding-top: 300px;
}


#main-footer{
    background-color: #82ffe0;
    padding: 20px;
    margin-top: auto;
    text-align: center;
}
